version: "2.1"
services:
    backup_framadate:
        build:
            context: .
            dockerfile: Dockerfile-mysql
        image: filament/duplicity:mysql
        hostname: backup-framadate
        domainname: "{{ date_url }}"
        environment:
            DST: "swift://framadate_{{ inventory_hostname|lower }}"
            MYSQL_DATABASE: "{{ date_db_user }}"
            MYSQL_HOST: "db"
            MYSQL_PASSWORD: "{{ date_db_pass }}"
            MYSQL_USER: "{{ date_db_user }}"
            PASSPHRASE: "{{ date_db_pass }}"
            SWIFT_USERNAME: "{{ swift_cloud_username }}"
            SWIFT_PASSWORD: "{{ swift_cloud_password }}"
            SWIFT_AUTHURL: "{{ swift_cloud_authurl }}"
            SWIFT_AUTHVERSION: {{ swift_cloud_authversion }}
            SWIFT_TENANTNAME: "{{ swift_cloud_tenantname }}"
            SWIFT_TENANTID: "{{ swift_cloud_tenantid }}"
            SWIFT_REGIONNAME: "{{ swift_cloud_regionname }}"
            JOB_300_WHAT: "backup --full-if-older-than 1W"
            JOB_301_WHAT: "dup remove-all-inc-of-but-n-full 3 --force $$DST $$@"
            JOB_301_WHEN: "daily"
            JOB_302_WHAT: "dup remove-all-but-n-full 3 --force $$DST $$@"
            JOB_302_WHEN: "daily"
        networks:
            - framadate_default
            - public
        command:
            - /etc/periodic/daily/jobrunner

networks:
    framadate_default:
        driver_opts:
            encrypted: 1
        external: true
    public:
        driver_opts:
            encrypted: 1
