version: "2.1"
services:
    backup_framadate:
        build:
            context: .
            dockerfile: Dockerfile-mysql
        image: filament/duplicity:mysql
        hostname: backup-framadate
        environment:
            DST: "swift://framadate_{{ inventory_hostname|lower }}"
            MYSQL_DATABASE: "{{ date_db_user }}"
            MYSQL_HOST: "db"
            MYSQL_PASSWORD: "{{ date_db_pass }}"
            MYSQL_USER: "{{ date_db_user }}"
            PASSPHRASE: "{{ date_db_pass }}"
            SWIFT_USERNAME: "{{ swift_odoo_username }}"
            SWIFT_PASSWORD: "{{ swift_odoo_password }}"
            SWIFT_AUTHURL: "{{ swift_odoo_authurl }}"
            SWIFT_AUTHVERSION: {{ swift_odoo_authversion }}
            SWIFT_TENANTNAME: "{{ swift_odoo_tenantname }}"
            SWIFT_TENANTID: "{{ swift_odoo_tenantid }}"
            SWIFT_REGIONNAME: "{{ swift_odoo_regionname }}"
            JOB_300_WHAT: "backup --full-if-older-than 6D"
            JOB_302_WHAT: "dup remove-all-but-n-full 5 --force $$DST $$@"
            JOB_302_WHEN: "daily"
        networks:
            - framadate_default
            - public
        command:
            - /etc/periodic/daily/jobrunner

networks:
    framadate_default:
        external: true
    public:
        driver_opts:
            encrypted: 1
