version: '3'
services:
    smtp:
{% if mailname is defined %}
        image: tecnativa/postfix-relay
        volumes:
            - smtp:/var/spool/postfix
        networks:
            default:
            public:
        environment:
            MAILNAME: "{{ mailname }}"
            MAIL_RELAY_HOST: "{{ mailserver }}"
            MAIL_RELAY_PORT: "{{ smtpport }}"
            MAIL_RELAY_USER: "{{ smtpuser }}"
            MAIL_RELAY_PASS: "{{ smtppass }}"
            MAIL_CANONICAL_DOMAINS: "{{ mailname }}"
            MAIL_NON_CANONICAL_DEFAULT: "{{ mailname }}"
{% else %}
        image: mailhog/mailhog
        networks:
            default:
            inverseproxy_smtp:
        labels:
            traefik.docker.network: "inverseproxy_smtp"
            traefik.enable: "true"
            traefik.http.routers.framadatesmtp.middlewares: "auth@file, smtp-stripprefix@file"
            traefik.http.routers.framadatesmtp.rule: "Host(`{{ date_url }}`) && PathPrefix(`/smtp/`)"
            traefik.http.routers.framadatesmtp.service: "framadatesmtp"
            traefik.http.services.framadatesmtp.loadbalancer.server.port: "8025"
{% endif %}
        container_name: framadate_smtp
        restart: unless-stopped

    db:
        container_name: framadate_db
        image: mariadb:10.4
        environment:
            - MYSQL_ROOT_PASSWORD={{ date_db_root }}
            - MYSQL_USER={{ date_db_user }}
            - MYSQL_PASSWORD={{ date_db_pass }}
            - MYSQL_DATABASE={{ date_db_user }}
        restart: unless-stopped
        volumes:
            - mysql:/var/lib/mysql:z

    framadate:
        container_name: framadate
        image: lefilament/framadate:latest
        depends_on:
            - db
            - smtp
        environment:
            - APP_NAME=Framadate
            - DOMAIN={{ date_url }}
            - ADMIN_MAIL={{ maintenance_email }}
            - MYSQL_USER={{ date_db_user }}
            - MYSQL_PASSWORD={{ date_db_pass }}
            - MYSQL_DB={{ date_db_user }}
            - MYSQL_HOST=db
            - MYSQL_PORT=3306
            - ADMIN_USER={{ date_admin_user }}
            - ADMIN_PASSWORD={{ date_admin_pass }}
{% if mailname is defined %}
            - DISABLE_SMTP=true # FIXME there is a TLS connection issue between Framadate and postfix relay
            #- SMTP_SERVER=smtp:25
{% else %}
            - SMTP_SERVER=smtp:1025
{% endif %}
        restart: unless-stopped
        networks:
            default:
            inverseproxy_shared:
        labels:
            traefik.enable: "true"
            traefik.http.routers.framadate.rule: "Host(`{{ date_url }}`)"
            traefik.http.routers.framadate.service: "framadate"
            traefik.http.services.framadate.loadbalancer.server.port: "80"

networks:
    default:
        internal: true
        driver_opts:
            encrypted: 1
    inverseproxy_shared:
        external: true
{% if mailname is defined %}
    public:
{% else %}
    inverseproxy_smtp:
        external: true
{% endif %}

volumes:
    mysql:
{% if mailname is defined %}
    smtp:
{% endif %}
