version: '3'
services:
    smtp:
{% if mailname is defined %}
        image: tecnativa/postfix-relay
        volumes:
            - smtp:/var/spool/postfix
        environment:
            MAILNAME: "{{ mailname }}"
            MAIL_RELAY_HOST: "{{ mailserver }}"
            MAIL_RELAY_PORT: "{{ smtpport }}"
            MAIL_RELAY_USER: "{{ smtpuser }}"
            MAIL_RELAY_PASS: "{{ smtppass }}"
            MAIL_CANONICAL_DOMAINS: "{{ mailname }}"
            MAIL_NON_CANONICAL_DEFAULT: "{{ mailname }}"
{% else %}
        image: mailhog/mailhog
        networks:
            default:
            inverseproxy_smtp:
        labels:
            traefik.docker.network: "inverseproxy_smtp"
            traefik.enable: "true"
            traefik.frontend.passHostHeader: "true"
            traefik.port: "8025"
            traefik.frontend.rule: "Host:{{ date_url }};PathPrefixStrip:/smtp/"
            traefik.frontend.auth.basic.users:
                "{{ date_db_user }}:{{ date_db_pass | password_hash('apr_md5_crypt', 65534 | random(seed=inventory_hostname) | string) | regex_replace('\\$','$$') }}"
{% endif %}
        container_name: framadate_smtp
        restart: unless-stopped

    db:
        container_name: framadate_db
        image: mariadb
        environment:
            - MYSQL_ROOT_PASSWORD={{ date_db_root }}
            - MYSQL_USER={{ date_db_user }}
            - MYSQL_PASSWORD={{ date_db_pass }}
            - MYSQL_DATABASE={{ date_db_user }}
        restart: unless-stopped
        volumes:
            - mysql:/var/lib/mysql:z

    framadate:
        container_name: framadate
        image: lefilament/framadate:latest
        depends_on:
            - db
            - smtp
        environment:
            - APP_NAME=Framadate
            - DOMAIN={{ date_url }}
            - ADMIN_MAIL={{ maintenance_email }}
            - MYSQL_USER={{ date_db_user }}
            - MYSQL_PASSWORD={{ date_db_pass }}
            - MYSQL_DB={{ date_db_user }}
            - MYSQL_HOST=db
            - MYSQL_PORT=3306
            - ADMIN_USER={{ date_admin_user }}
            - ADMIN_PASSWORD={{ date_admin_pass }}
{% if mailname is defined %}
            - SMTP_SERVER=smtp:25
{% else %}
            - SMTP_SERVER=smtp:1025
{% endif %}
        restart: unless-stopped
        networks:
            default:
            inverseproxy_shared:
        labels:
            traefik.docker.network: "inverseproxy_shared"
            traefik.enable: "true"
            traefik.frontend.headers.STSSeconds: "15552000"
            traefik.frontend.headers.STSIncludeSubdomains: "true"
            traefik.frontend.headers.STSPreload: "true"
            traefik.frontend.passHostHeader: "true"
            traefik.port: "80"
            traefik.own.frontend.rule: "Host:{{ date_url }}"

networks:
    default:
        internal: true
        driver_opts:
            encrypted: 1
    inverseproxy_shared:
        external: true
{% if mailname is not defined %}
    inverseproxy_smtp:
        external: true
{% endif %}

volumes:
    mysql:
{% if mailname is defined %}
    smtp:
{% endif %}
